name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build Docker image
      run: |
        az acr login --name depaulacr.azurecr.io
        docker build -t depaulacr.azurecr.io/form-backend:latest ./backend

    - name: Push Docker image to ACR
      run: |
        docker push depaulacr.azurecr.io/form-backend:latest

    - name: Set AKS context
      uses: azure/aks-set-context@v3
      with:
       creds: ${{ secrets.AZURE_CREDENTIALS }}
       cluster-name: depaulcluster
       resource-group: depaul

    - name: Deploy to AKS
      run: |
        kubectl set image deployment/form-backend backend=depaulcluster/form-backend:latest -n backend-namespace

